@import '../../_variables.scss';

.input__wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  color: $base;
}

.input {
  width: 120px;
  height: 19px;
  text-align: end;
  border-radius: 3px;
  border: 1px solid $base;
}

.error {
    display: flex;
    color: white;
    position: absolute;
    background-color: #e64545;
    bottom: 27px;
    width: 126px;
    height: 40px;
    border-radius: 3px;
}

.error-message {
  font-size: 12px;
  width: 100%;
  text-align: center;
}